body{
    margin: 0px;
    background-color: #003152;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-rendering: optimizeLegibility;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 25px;
    overflow: hidden;
    background-color: #002e4d;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

h1{
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

h1 .text-wrapper{
    position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

h1 .letter{
    display: inline-block;
  line-height: 1em;
}


p{
    font-size: 20px;
}

.footer-text{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 9px;
    text-align: left;
    margin: 0px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.times{
    margin: 0;
    padding: 0;
    text-align: center;
}

.times li{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}   

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.submit {
    background-color: transparent;
    border: 2px solid #003152;
    color: #003152;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 4px 4px 100px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
}

.submit:hover{
    background-color: darkblue;
}