body{
    margin: 0px;
    background-color: #003152
}
h1{
    position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

h1 .text-wrapper{
    position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

h1 .letter{
    display: inline-block;
  line-height: 1em;
}


p{
    font-size: 20px;
}

.welcome-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dedede;
    line-height: 1.0;
    text-align: center;
    margin: auto;
}

.sign-in-buttons{
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.get-started{
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    width: 500px;
    opacity: 0;
}

.sign-up{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    width: 500px;
    opacity: 0;
}