ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
    padding: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li a:hover {
    background-color: #3c83e8
}

li.login{
    float: right;
}

header{
    background-image: url("./madonna.jpg");
    background-color: #cccccc;
    height: 1020px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body{
    margin: 0px;
}